@model chitieu.Models.expenditure

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>expenditure</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Chi tiêu
        </dt>

        <dd>
            @Html.DisplayFor(model => model.amount)
        </dd>

        <dt>
            Ghi chú
        </dt>

        <dd>
            @Html.DisplayFor(model => model.note)
        </dd>

        <dt>
            Ngày chi
        </dt>

        <dd>
            @Html.DisplayFor(model => model.datetime)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
