@model _2504.Models.BubleTea

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>BubleTea</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            Tên
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            Gía tiền
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            Topping
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Topping)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
