@model IEnumerable<_2504.Models.BubleTea>

@{
    ViewBag.Title = "Index";
}

<h2>Trà sữa</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table id ="myTable" class="table">
    <thead>
        <tr>
            <th>
                Tên
            </th>
            <th>
                Gía tiền
            </th>
            <th>
                Topping
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>



        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Topping)
                </td>
                <td>
                    @Html.ActionLink("Chỉnh sửa", "Edit", new { id = item.id }) |
                    @Html.ActionLink("Chi tiết", "Details", new { id = item.id }) |
                    @Html.ActionLink("Xóa", "Delete", new { id = item.id })
                </td>
            </tr>
        }
    </tbody>

</table>
@section Scripts{
    <link href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet">
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable();
        });
    </script>
}
