@model _2504.Models.BubleTea

@{
    ViewBag.Title = "create";
}

<h2>Thêm mới </h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>BubleTea</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Name,"Tên trà sữa", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>

        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Topping,"Toping", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Topping)
                @Html.ValidationMessageFor(model => model.Topping)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Price,"Giá tiền", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Price)
                @Html.ValidationMessageFor(model => model.Price)
            </div>
        </div>

        <div class="form-group">
            <label for="Image" class="control-label col-md-2">Hinh anh</label>
            <div class="col-md-10">
                <input type="file" name="Image" id="Image" onchange="readIMG(this)"/>
                <img id="Demo"/>
            </div>
                 
          </div>
  

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script>
    function readIMG(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#Demo')
                    .attr('src', e.target.result)
                    .width(150)
                    .height(200);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }
    </script>
}
